@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2&display=swap');

article {
	padding-top: 150px;
	padding-left: 150px;
	padding-right: 150px;
}

.atencion{
	text-align: justify;
	justify-content: center;	
	font-size: 24px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.telefonos {
	font-size: 19px;
	padding-bottom: 20px;
}

.despedida {
	padding-top: 20px;
	padding-bottom: 50px;
	font-size: 24px;
}