#venta h3, h4 {
	text-align: center;
}

#venta .contenedor {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#venta article {
	margin: 15px;
}

#venta image {
	width: 100%;
	max-width: 280px;
}